@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">
    HILL VILLA HOTEL

    </a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    </div>
    @*<div class="nav-item px-3">
    <NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Counter
    </NavLink>
    </div>*@
       @* <div class="nav-item px-3">
    <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
    </div>*@

         @*<div class="nav-item px-3">
    <NavLink class="nav-link" href="demoHotel">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Hotel
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="bindProp">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Properties
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="hotel-room" >
    <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Rooms
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="hotel-amenity" Match="NavLinkMatch.All" >
    <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Amenities
    </NavLink>
    </div>*@

         @*<div class="nav-item px-3">
    <NavLink class="nav-link" href="ParentComponent">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Parent/Child Relation
    </NavLink>
    </div>*@
       @* <div class="nav-item px-3">
    <NavLink class="nav-link" href="LearningRouting">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Learning Routing
    </NavLink>
    </div>*@

        @*<div class="nav-item px-3">
    <NavLink class="nav-link" href="Blazorjs">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Js
    </NavLink>
    </div>*@

@*    </nav>
    </div>
*@

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">
    La Villa Hotel
    </a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    </div>*@


    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                     <div class="px-3">
                    <a href="dashboard">
                         <img src="/Images/logo.png"  alt="Tabler" class="navbar-brand-image me-2 imagelaVille"  width="150" height="85" >
                    </a>
                        
                 
                </div>
                <MudDivider Class="mb-4" />
                <AuthorizeView>
                    <Authorized>
               
                 <MudNavLink  Href="dashboard"  Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Dashboard">
                         Dashboard
                    </MudNavLink>
                
                
                    <MudNavGroup Title="Setups"  Match="NavLinkMatch.Prefix"  Icon="@Icons.Material.Outlined.AssignmentInd"  @bind-Expanded=_isExpanded >
                        <MudNavLink Href="noPage" Icon="@Icons.Material.Outlined.Person" class="nav-link" Match="NavLinkMatch.All">
                           Add Users
                            </MudNavLink>
                             
                        <MudNavLink Href="/noPage1" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Build" class="nav-link">
                            General Setups
                        </MudNavLink>
                    </MudNavGroup>
            
                    <MudNavGroup Title="Management" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Assignment" HideExpandIcon="false" @bind-Expanded=isExpandedManagement>

                        <MudNavLink Href="/hotel-room"  Icon="@Icons.Material.Outlined.Label" IconColor="Color.Info" Dense="true" Class="my-2 rounded nav-link">
                           Rooms
                            </MudNavLink>

                             <MudNavLink Href="/hotel-amenity" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Label" IconColor="Color.Success" Dense="true" Class="my-2 rounded nav-link">
                           Amenities
                            </MudNavLink>

                        <MudNavLink Href="/booking" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Label" IconColor="Color.Warning" Dense="true" Class="my-2 rounded nav-link">
                            Bookings
                        </MudNavLink>
                    </MudNavGroup>
               
                 
                    <MudNavLink  Href="reports" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Details">
                        Reports
                    </MudNavLink>
              
                @*<div class="nav-item px-3">
                    <MudNavLink class="nav-link" Href="/demoHotel" Match="NavLinkMatch.Prefix">
                        <span class="oi oi-plus" aria-hidden="true"></span> Demo Hotel
                    </MudNavLink>
                </div>
                <div class="nav-item px-3">
                            <MudNavLink class="nav-link" Href="/hotel-room" Match="NavLinkMatch.Prefix">
                                <span class="oi oi-plus" aria-hidden="true"></span> Hotel Room
                            </MudNavLink>
                        </div>
                 <div class="nav-item px-3">
                            <MudNavLink class="nav-link" Href="/booking" Match="NavLinkMatch.Prefix">
                                <span class="oi oi-plus" aria-hidden="true"></span> Booking Report
                            </MudNavLink>
                        </div>*@
                
             
                    
                        @*<div class="nav-item px-3">
                            <MudNavLink class="nav-link" Href="hotel-amenity" Match="NavLinkMatch.Prefix">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Amenities
                            </MudNavLink>
                        </div>
                        <div class="nav-item px-3">
                            <MudNavLink class="nav-link" href="logout">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                            </MudNavLink>
                        </div>*@
                    </Authorized>

                    @*<NotAuthorized>
                        <li class="nav-item px-3">
                            <MudNavLink class="nav-link" href="login" Match="NavLinkMatch.Prefix">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                            </MudNavLink>
                        </li>
                    </NotAuthorized>*@
                </AuthorizeView>
            </nav>
        </div>

    </MudNavMenu>


@* <MudNavGroup Title="Settings" Expanded="true">
    <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">Users</MudNavLink>
    <MudNavLink Href="/security"  Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public bool _isExpanded = false;
    public bool isExpandedManagement = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
     string AlertAssignmentIcon { get; set; } = "<path d=\"M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H9.18C9.6,1.84 10.7,1 12,1C13.3,1 14.4,1.84 14.82,3H19M12,3A1,1 0 0,0 11,4A1,1 0 0,0 12,5A1,1 0 0,0 13,4A1,1 0 0,0 12,3M7,7V5H5V19H19V5H17V7H7M11,9H13V13.5H11V9M11,15H13V17H11V15Z\" />";
    
}
